
.navbar-nav > li {
    font-size: 20px;
    padding-left:30px;
    padding-right:30px;
}

.banner-font{
    color: white;
    font-size: 30px;
    text-shadow: 0px 2px 4px #000000;
}

.my-arrow-down{
    padding-top: 20px;
    color: white;
    text-shadow: 0px 2px 4px #000000;
}

.my-arrow-down:hover{
    color: white;
    text-shadow: 0px 2px 4px #000000;
    text-decoration: none;
}

.categories{
    background-color: #343a40!important;
    width: 17%;
    height: 100%;
    float: right;
}

.categoriesTitle{
    color: #1ab188;
    text-align: center;
    padding: 20px;
}

.productImage{  
    height: 300px;
    width: 375px;  
}

.product{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 600px;
  margin: 6%;
  text-align: center;
  font-family: arial;
  padding: 10%;
}

.price{
  color: grey;
  font-size: 22px;
}

.product button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product button:hover {
  opacity: 0.7;
}